body {
    font-family: Arial, sans-serif;
}

#heroes {
    list-style: none;
    padding: 0;
    margin: 0;
}

#heroes li {
    margin-bottom: 10px;
}

#heroes li a {
    text-decoration: none;
    color: #337ab7;
}

#heroes li a:hover {
    color: #23527c;
}

#counter-heroes {
    margin-top: 20px;
}

/* Media query for mobile devices (max-width: 768px) */
@media only screen and (max-width: 768px) {
    #heroes li {
        margin-bottom: 5px; /* Reduce margin for smaller screens */
    }
    
    #heroes li a {
        font-size: 16px; /* Adjust font size for better readability on mobile */
    }
    
    #counter-heroes {
        margin-top: 10px; /* Reduce margin for smaller screens */
    }
}

/* Media query for extra small mobile devices (max-width: 480px) */
@media only screen and (max-width: 480px) {
    #heroes li {
        margin-bottom: 2px; /* Further reduce margin for extra small screens */
    }
    
    #heroes li a {
        font-size: 14px; /* Adjust font size for better readability on extra small mobile devices */
    }
    
    #counter-heroes {
        margin-top: 5px; /* Further reduce margin for extra small screens */
    }
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ffae00;
}